.lowerHeader {
  background-color: #232f3e;
  color: white;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  font-size: 14px;
  gap: 10px;
}

/* Left section */
.left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.allMenu {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 8px;
  border-radius: 3px;
}

.allMenu:hover {
  background-color: #37475a;
}

/* Nav Links */
.navLinks {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 15px;
}

.navLinks li a {
  color: white;
  text-decoration: none;
  padding: 5px 6px;
}

.navLinks li a:hover {
  border: 1px solid white;
  border-radius: 3px;
}

/* Right Section */
.right a {
  color: #f3f3f3;
  text-decoration: none;
  font-weight: bold;
}

.right a:hover {
  color: #febd69;
}

/* Responsive */
@media (max-width: 768px) {
  .navLinks {
    display: none;
  }
  .right {
    display: none;
  }
}
