.container {
  background-color: #efeeee;
  padding: 30px;
}
.order_container {
  background-color: #fff;
  padding: 20px;
}
.order_container h2 {
  border-bottom: 2px solid var(--primary-shade);
  padding: 20px;
}
